
@{
    ViewBag.Title = "Oduzmi2";
}

<h2>Rezultat oduzimanja je :  @ViewBag.oduzmi</h2>

@Html.ActionLink("Zbrajanje", "Zbroji")

@Html.ActionLink("Oduzimanje", "Oduzmi")

@Html.ActionLink("Mnozenje", "Pomnozi")

@Html.ActionLink("Djeljenje", "Podjeli")