
@{
    ViewBag.Title = "Podjeli2";
}

<h2>Rezultat djeljenja je @ViewBag.podijeli</h2>

@Html.ActionLink("Zbrajanje", "Zbroji")

@Html.ActionLink("Oduzimanje", "Oduzmi")

@Html.ActionLink("Mnozenje", "Pomnozi")

@Html.ActionLink("Djeljenje", "Podjeli")