
@{
    ViewBag.Title = "Pomnozi2";
}

<h2>Rezultat mnozenja je @ViewBag.pomnozi</h2>

@Html.ActionLink("Zbrajanje", "Zbroji")

@Html.ActionLink("Oduzimanje", "Oduzmi")

@Html.ActionLink("Mnozenje", "Pomnozi")

@Html.ActionLink("Djeljenje", "Podjeli")