
@{
    ViewBag.Title = "Zbroji2";
}

<h2>Rezultat je @ViewBag.zbroji</h2>

@Html.ActionLink("Zbrajanje", "Zbroji")

@Html.ActionLink("Oduzimanje", "Oduzmi")

@Html.ActionLink("Mnozenje","Pomnozi")

@Html.ActionLink("Djeljenje","Podjeli")